body {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #F2EEE3;
  color: #36382E;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.App-header {
  background-color: #80876E; /* Dark color for contrast */
  display: flex;
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center items vertically */
  justify-content: space-around; /* Distribute space evenly around items */
  padding: 10px 0; /* Add some vertical padding */
  color: #F2EEE3; /* Light color for text and links */
  flex-wrap: wrap; /* make the navbar responsive */
}

/* Adjust the layout when the screen size is less than a specific breakpoint */
@media only screen and (max-width: 600px) {
  .App-header {
    flex-direction: column;
  }
}

/* Desktop styles */
@media only screen and (min-width: 600px) {
  .nav-bar {
    flex-direction: row;
  }
}

.dashboard-header {
  text-align: center;
}

.nav-link {
  color: inherit; /* Use the color from the parent component */
  text-decoration: none; /* Remove underline from links */
  margin: 0 15px; /* Add some horizontal margin */
}

.nav-link:hover {
  color: #61dafb; /* Change color on hover */
}

.logout-button {
  margin-left: 20px; /* Move logout button to the right */
}

.nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 0;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard styles */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.dashboard-pumpkin {
  flex-basis: 100%; /* On mobile, take full width */
  background-color: #FFD699;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.dashboard-pumpkin h3 {
  cursor: pointer;
  color: #36382E;
}

.dashboard-pumpkin button {
  margin-right: 10px;
}

.pumpkin-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


/* For larger screens (tablets and desktops) */
@media (min-width: 768px) {
  .dashboard-pumpkin {
    flex-basis: calc(50% - 20px); /* Two items per row */
  }
}

/* Button to add a pumpkin */
.add-pumpkin-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #80876E; /* Primary color for button */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-pumpkin-button:hover {
  background-color: #da8329; 
}


.section-break {
  width: 100%;
  border-bottom: 1px solid #ccc; 
  margin: 20px 0; 
}



.green-button {
  background-color: #80876E !important;
}

.green-button:hover {
  background-color: #6c755e !important;
}

.nav-row {
  display: flex;
  align-items: center;
  
}

.login-button:hover {
  text-decoration: underline;
}

.input + .label-float {
    color: #9e9e9e;
    left: 15px;
    position: absolute;
    top: 15px !important;
    transition: .2s;
    padding: 0 5px;
    pointer-events: none;
    font-size: 0.8rem;
}

.input.filled + .label-float {
    color: #80876E !important;
}

button[type="submit"] {
  background-color: #80876E !important;
  color: white !important;
}

button.button-disabled {
  background-color: #ccc!important;
  color: #999!important;
  cursor: not-allowed!important;
}

.date-input .label-float {
    color: #9e9e9e;
    left: 15px;
    position: absolute;
    top: 15px !important;
    transition: .2s;
    padding: 0 5px;
    pointer-events: none;
    font-size: 0.8rem;
}

.date-input .input.filled + .label-float {
  color: #80876E !important;
}

.date-input .input {
  font-size: 1rem; 
  padding: 0.5rem;  
  height: auto;  
}

.modal-button {
  background-color: #80876E;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  margin: 5px 2px;
  border-radius: 12px;
  text-decoration: none;
  max-width: 400px;
}

.modal-button:hover {
  background-color: #6c755e;
  color: white;
}

.delete-button {
  background-color: #DF6139;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  margin: 5px 2px;
  border-radius: 12px;
  text-decoration: none;
  max-width: 400px;
}

.delete-button:hover {
  background-color: #c05532;
  color: white;
}

.App-footer {
  background-color: #80876E; /* Dark color for contrast */
  color: #F2EEE3; /* Light color for text and links */
}

.table-cell {
  padding: 0 1rem; /* adjust as per your needs */
}

.table-cell {
  padding: 0 1rem; /* adjust as per your needs */
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 1em;
}

.scrollbar-visible::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


/* Alert Modal Styles */
.swal2-popup {
  font-size: 1.2rem !important;
  width: auto !important;
  padding: 24px 24px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  background-color: #F9F7F1 !important;
}

.swal2-icon {
  display: none !important;
}

/* .swal2-icon {           */
/*  width: 20px !important;  */
/*  height: 20px !important;*/
/*  border: none !important;*/
/*  font-size: 1rem !important; */
/*  margin-top: 10px !important;*/
/*  margin-bottom: 20px !important;*/
/* } */

.swal2-title {
  font-size: 1.2rem !important;
  color: #3f3d56 !important;
}

.swal2-actions {
  flex-direction: row-reverse !important;
}

.swal2-cancel {
  background-color: #80876E !important;
  color: white !important;
  margin-left: 0.5rem !important;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swal2-confirm {
  background-color: #DF6139 !important;
  color: white !important;
  margin-left: 0.5rem !important;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swal2-html-container {
  font-size: 1rem !important;
}

.swal2-content {
  margin-top: -10px !important;  /* Adjust this value as needed */
}

.table-cell-contest-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.ais-SearchBox-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.MyCustomHits {
  padding: 20px;
}

.MyCustomHitsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MyCustomHitItem {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  width: 300px; /* Fixed width */
}

.MyCustomHitItem:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
