:root {
  --dark-orange-web: #fb9336ff;
  --sunset: #ffd699ff;
  --reseda-green: #80876eff;
  --alabaster: #f2eee3ff;
  --flame: #df6139ff;
  --color-background: #F2EEE3;
  --color-text: #36382E;
  --color-button: #80876E;
  --color-button-hover: #6c755e;
  --color-footer: #80876E;
  --color-footer-text: #F2EEE3;
}

[data-theme="dark"] {
  --color-background: #36382E;
  --color-text: #F2EEE3;
  --color-button: #6c755e;
  --color-button-hover: #80876E;
  --color-footer: #F2EEE3;
  --color-footer-text: #80876E;
}

body {
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

.logout-button {
  margin-left: 20px;
}

.green-button {
  background-color: var(--color-button) !important;
}

.green-button:hover {
  background-color: var(--color-button-hover) !important;
}

.input + .label-float {
    color: #9e9e9e;
    left: 15px;
    position: absolute;
    top: 15px !important;
    transition: .2s;
    padding: 0 5px;
    pointer-events: none;
    font-size: 0.8rem;
}

.input.filled + .label-float {
    color: #80876E !important;
}

button[type="submit"] {
  background-color: #80876E !important;
  color: white !important;
}

button.button-disabled {
  background-color: #ccc!important;
  color: #999!important;
  cursor: not-allowed!important;
}

.modal-button {
  background-color: #80876E;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  margin: 5px 2px;
  border-radius: 12px;
  text-decoration: none;
  max-width: 400px;
}

.modal-button:hover {
  background-color: #6c755e;
  color: white;
}

.delete-button {
  background-color: #DF6139;
  color: white;
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  margin: 5px 2px;
  border-radius: 12px;
  text-decoration: none;
  max-width: 400px;
}

.delete-button:hover {
  background-color: #c05532;
  color: white;
}

.App-footer {
  background-color: var(--color-footer);
  color: var(--color-footer-text);
}

.table-cell {
  padding: 0 1rem;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.scrollbar-visible::-webkit-scrollbar {
  width: 1em;
}

.scrollbar-visible::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* Alert Modal Styles */
.swal2-popup {
  font-size: 1.2rem !important;
  width: auto !important;
  padding: 24px 24px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
  background-color: #F9F7F1 !important;
}

.swal2-icon {
  display: none !important;
}

.swal2-title {
  font-size: 1.2rem !important;
  color: #3f3d56 !important;
}

.swal2-actions {
  flex-direction: row-reverse !important;
}

.swal2-cancel {
  background-color: #80876E !important;
  color: white !important;
  margin-left: 0.5rem !important;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swal2-confirm {
  background-color: #DF6139 !important;
  color: white !important;
  margin-left: 0.5rem !important;
  border: 0;
  border-radius: 0.375rem;
  font-size: 1rem !important;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swal2-html-container {
  font-size: 1rem !important;
}

.swal2-content {
  margin-top: -10px !important;
}

.table-cell-contest-name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.ais-SearchBox-input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.MyCustomHits {
  padding: 20px;
}

.MyCustomHitsList {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.MyCustomHitItem {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
}

.MyCustomHitItem:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* SIDEBAR AND NAV */

/* Default styles for mobile */
#logo-sidebar {
  display: none; /* Hide by default */
  transform: translateX(-100%);
  top: 3rem;
  width: 14rem;
}

/* Styles when sidebar is open */
#logo-sidebar.open {
  display: block; /* Show when open */
  transform: translateX(0);
}

.main-content {
  margin-left: 0;
}

/* NAVBAR */
.fixed.top-0.z-50 {
  background-color: var(--color-button);
  height: 4.5rem;
}

/* MAIN CONTENT */
.main-content {
  padding-top: 4rem; /* Add padding equal to the height of the navbar */
}

a, .link {
  text-decoration: none;
}

.icon-hover {
  fill: var(--color-button);
  transition: fill 0.3s ease;
}

.link:hover .icon-hover {
  fill: var(--color-button-hover);
}

/* Styles for tablet and above */
@media (min-width: 768px) {
  #logo-sidebar {
    display: block; /* Show by default on tablet and above */
    transform: translateX(0);
  }
  .main-content.open {
    margin-left: 14rem; 
  }

  /* Styles when sidebar is closed on tablet and above */
  #logo-sidebar.closed {
    display: none;
  }
  .main-content.closed {
    margin-left: 0;
  }
}

/* Misc */

.aspect-ratio-square::before {
  float: left;
  padding-top: 100%;
  content: "";
}

.aspect-ratio-square::after {
  content: "";
  display: table;
  clear: both;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: var(--color-background);
}


.description-text {
  white-space: pre-wrap; /* Allows text to wrap and preserves whitespace */
  word-wrap: break-word; /* Breaks long words if necessary to fit within the container */
  overflow-wrap: break-word; /* Similar to word-wrap, ensures the text breaks to prevent overflow */
  max-width: 100%; /* Ensures the text does not exceed the width of its container */
  margin-bottom: 1em; /* Adjust as needed for your design */
  line-height: 1.5; /* Adjust as needed for your design */
}

 