.App {
  text-align: center;
  background-color: #F2EEE3; /* Background color */
  color: #36382E; /* Tertiary color for text */
}

.h2 {
  color: #36382E; /* Tertiary color for text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #F2EEE3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Dashboard styles */
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.dashboard-pumpkin {
  flex-basis: 100%; /* On mobile, take full width */
  background-color: #FFD699;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.dashboard-pumpkin h3 {
  cursor: pointer;
  color: #36382E;
}

.dashboard-pumpkin button {
  margin-right: 10px;
}

.pumpkin-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.delete-button {
  color: white;
  background-color: #df6139; /* Warning color for delete button */
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

/* For larger screens (tablets and desktops) */
@media (min-width: 768px) {
  .dashboard-pumpkin {
    flex-basis: calc(50% - 20px); /* Two items per row */
  }
}

/* Button to add a pumpkin */
.add-pumpkin-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #FB9336; /* Primary color for button */
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-pumpkin-button:hover {
  background-color: #da8329; /* Darker shade for hover */
}
